---
title: DataStax Enterprise for PCF (Beta)
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>WARNING! </strong>
The DataStax Enterprise (DSE) for Pivotal Cloud Foundry (PCF) tile is currently a closed beta delivery designed for test and evaluation only.
It is not intended for production environments.
</p>

## <a id='overview'></a>Overview

DSE is the always-on data platform for cloud applications that is powered by Apache Cassandra.
This documentation describes the DSE for PCF tile.
The tile enables developers to automatically provision a dedicated DSE cluster on-demand to build cloud-scale applications.
In its current closed beta period, the DSE for PCF service offers three plans:

+ sample-bronze-plan
+ sample-silver-plan
+ sample-gold-plan

PCF tile administrators can associate different VM types to each plan.
Developers can then use the Cloud Foundry Command Line Interface (cf CLI) to create dedicated instances
of the service plans and bind the instances to their apps.

Creating a DataStax Enterprise for PCF service instance and binding it to an app creates a database connection from the app to a backend dedicated DSE cluster.
This lets developers use the connection to manipulate data residing in the Cassandra NoSQL database cluster.  

## <a id='features'></a>Key Features

This tile lets PCF developers:

* Self-provision a DSE cluster on-demand from three different service plans.
* Connect PCF apps to a dedicated DSE cluster.
* Decommission a DSE cluster.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about DataStax Enterprise for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.1.18</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 7, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>DataStax Enterprise v5.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x and v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x and v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, and vSphere</td>
    </tr>
</table>

## <a id="limitations"></a>Limitations

<p>The DataStax Enterprise for PCF has the following limitations:</p>

<ul>
<li>The tile is for development purposes only.
    Users will not receive DataStax engineering support for clusters that are provisioned using the DataStax Enterprise for PCF during the beta period.</li>
<li>The provisioned DSE clusters do not provide DSE Search, DSE Analytics, and DSE Graph features.</li>
<li>Developers are limited to three service plans.</li>
<li>The DataStax Enterprise for PCF tile can be installed in PCF deployments that run in multiple Availability Zones (AZs).
    However, the DSE service can only provision cluster nodes within a single AZ.</li>
<li>Maximum DSE cluster size is 40.</li>
</ul>

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the 
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to <a href="mailto:partner-architecture@datastax.com">DataStax</a>.

