---
title: DataStax Enterprise for PCF (Beta)
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>WARNING! </strong>
The DataStax Enterprise for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes the DataStax Enterprise for PCF (Beta) for Pivotal Cloud Foundry (PCF).  The DataStax Enterprise for PCF enables developers to provision a dedicated DataStax Enterprise (DSE) cluster on-demand to build cloud-scale applications.  
## <a id='overview'></a>Overview

The DataStax Enterprise for PCF (Beta) provides developers the capability to self-service a dedicated DataStax Enterprise (DSE) cluster on-demand.  In our current closed beta period, it exposes three service plans, namely sample-bronze-plan, sample-silver-plan, and sample-gold-plan.  PCF tile administrator can attach different virtual machine types to any of these plans.  Developers will create service plan instances using Cloud Foundry Command Line Interface (cf CLI) and bind them to their apps. 

Creating a DataStax Enterprise for PCF service instance and binding it to an app creates a database connection from an app to a backend dedicated DataStax Enterprise cluster.  This lets developers use the connection to manipulate data residing on the dedicated DataStax Enterprise Cassandra NoSQL database cluster.

## <a id='features'></a>Key Features

DataStax Enterprise for PCF (Beta) includes the following key features:

* Self-provision a DataStax Enterprise (DSE) cluster on-demand with three different service plans.
* Connect PCF apps to a dedicated DataStax Enteprirse (DSE) cluster.
* Decommission a DataStax Enterprise (DSE) cluster.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PRODUCT-NAME.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.1.18</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 3, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>DataStax Enterprise 5.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x and v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x and v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, and vSphere</td>
    </tr>
</table>

## <a id="limitations"></a>Limitations

<p>The DataStax Enterprise for PCF (Beta) has the following limitations:</p>

<ul>
<li>It is for development purpose only.  Users will not receive general support from DataStax if their DataStax Entrprise clusters are provisioned using the DataStax Enterprise for PCF (Beta) during the beta period.</li>
<li>The provisioned DataStax Enterprise (DSE) clusters do not provide DSE Search, DSE Analytics and DSE Graph features.</li>
<li>Developers are limited to three different service plans.</li>
<li>The DataStax Enterprise for PCF tile can be installed in a multi-AZs PCF environments.  However, it can only provision DataStax Enterprise cluster nodes in a single AZ domain.</li>
<li>Maximum DataStax Enterprise cluster size is 40.</li>
</ul>

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the 
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to <a href="mailto:partner-architecture@datastax.com">DataStax</a>.

