---
title: Installing and Configuring DataStax Enterprise for PCF (Beta)
owner: Partners
---

This topic describes how to install and configure DataStax Enterprise for PCF (Beta).

##<a id='install'></a> Install and Configure DataStax Enterprise for PCF (Beta)

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of **DataStax Enterprise for PCF (Beta)**. 
This adds the tile to your staging area.

1. Click the newly added **DataStax Enterprise for PCF (Beta)** tile to open its configuration tabs and select the Settings tab. The Settings tab includes the standard configuration panes Assign AZs and Networks, Errands, Resource Config, and Stemcell, shared by all Ops Manager tiles. 

1. The Settings tab also contains the following DataStax Tile Specific pane to define custom properties for your DataStax Enterprise cluster configuration.

DataStax Tile Specific pane:
![ALT-TEXT](DataStax_Tile_Specific.png)

This pane includes the following fields:

* Availability Zone to deploy DataStax Enterprise clusters.
* Persistent Disk Type for DataStax Enterprise Cassandra database data.
* IaaS VM Type for Bronze Plan (sample-bronze-plan).
* IaaS VM Type for Silver Plan (sample-silver-plan).
* IaaS VM Type for Gold Plan (sample-gold-plan).
* IaaS VM Type for DataStax Enterprise OpsCenter.

After completing configuration in the Settings tab, return to the Ops Manager Installation Dashboard and click **Apply Changes** to install **DataStax Enterprise for PCF (Beta)** tile.

