---
title: Installing and Configuring DataStax Enterprise for PCF
owner: Partners
---

This topic describes how to install and configure DataStax Enterprise for Pivotal Cloud Foundry (PCF).

##<a id='install'></a> Install and Configure DataStax Enterprise for PCF

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of **DataStax Enterprise for PCF (Beta)**. 
This adds the tile to your staging area.

1. Click the newly-added **DataStax Enterprise for PCF (Beta)** tile to open its configuration tabs and select the **Settings** tab.
   The **Settings** tab includes the standard configuration panes **Assign AZs and Networks**, **Errands**, **Resource Config**, and **Stemcell**,
   shared by all Ops Manager tiles.
   Configure these panes for your deployment.

1. Open the **DataStax Tile Specific** pane to define custom properties for your DataStax Enterprise (DSE) cluster configuration:
![DataStax Tile Specific pane](DataStax_Tile_Specific.png)

1. Configure the following fields in the **DataStax Tile Specific** pane:
  * **Availability Zone** to deploy DSE clusters into
  * **Persistent Disk Type for DataStax Enterprise Cassandra database data**
  * **IaaS VM Type for Bronze Plan** (sample-bronze-plan)
  * **IaaS VM Type for Silver Plan** (sample-silver-plan)
  * **IaaS VM Type for Gold Plan** (sample-gold-plan)
  * **IaaS VM Type for DSE OpsCenter**

1. After completing the configuration panes in the **Settings** tab, return to the Ops Manager Installation Dashboard.

1. Click **Apply Changes** to install **DataStax Enterprise for PCF (Beta)**.
